.cart {
  height: 40px;
  cursor: pointer;
  // margin-right: 50px;
  .box {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    line-height: 40px;
    min-width: 68px;

    .badge {
      position: absolute;
      top: 4px;
      right: -17px;
      background-color: red;
      color: white;
      width: 14px;
      height: 14px;
      font-size: 12px;
      padding: 2px;
      border-radius: 50%;
      line-height: 14px;
      text-align: center;
      white-space: nowrap;
    }
  }
}
